## 最適化に入る前に

In [3]:
# 普通のリスト
list1 = [1, 2, 3, 4, 5]

# 各要素を2乗したリストを作る➀
list2 = []
for i in list1:
    list2.append(i**2)

list2

[1, 4, 9, 16, 25]

In [4]:
# 各要素を2乗したリストを作る➁
list3 = [i**2 for i in list1]
list3

[1, 4, 9, 16, 25]

In [5]:
# 辞書
# キー：値という関係が保持される
price_dict = {
    'apple':100,
    'banana':200,
    'orange':300
}

# キーを指定すると値を参照できる
price_dict['banana']

200

In [6]:
# もう一つ作っておく
# 数量を表す辞書
qty_dict = {
    'apple':2,
    'banana':4,
    'orange':3
}

qty_dict['banana']

4

In [7]:
# キーだけ、値だけを取り出すことも可能
fruits = list(qty_dict.keys())
fruits

['apple', 'banana', 'orange']

In [8]:
# 最適化で頻出！積の和をとる
# それぞれの果物について価格×数量を計算し、その合計を計算している
sum( price_dict[fruit] * qty_dict[fruit] for fruit in fruits )

1900

## データの読み込みと加工
今回は、架空のお菓子のカロリーと価格が載ったデータを扱います。  
数理最適化によって、予算内でなるべくたくさんのカロリーを摂取することを目指します！

In [9]:
import pandas as pd
from pulp import *      # 毎回「pulp.~」と書くのが面倒なのでこうしています

In [12]:
# データの読み込み
df = pd.read_csv('knapsack_data.csv')
df

           name  kcal  price
0     カンガルーのマーチ   336     84
1   コートジボワールチョコ   309     96
2          ガプリコ   194    102
3          バッケス   336    198
4       ハコダテポテト   446    120
5          いもりこ   299    120
6       かっぱかにせん   486    120
7       フェネットグミ   166    100
8         アルツート   344    102
9        ハッピータン   348     98
10          柿の素   209    280
11     たべっ子アニマル   330     98
12       あんドーナツ   387    108
13        かば焼き様    10     11
14       キャベツ次郎   520    110
15     モンゴルヨーグル    25     22
16      しんがりコーン   409    147

In [13]:
# カロリーが高いのは？
df.sort_values('kcal', ascending=False)

           name  kcal  price
14       キャベツ次郎   520    110
6       かっぱかにせん   486    120
4       ハコダテポテト   446    120
16      しんがりコーン   409    147
12       あんドーナツ   387    108
9        ハッピータン   348     98
8         アルツート   344    102
3          バッケス   336    198
0     カンガルーのマーチ   336     84
11     たべっ子アニマル   330     98
1   コートジボワールチョコ   309     96
5          いもりこ   299    120
10          柿の素   209    280
2          ガプリコ   194    102
7       フェネットグミ   166    100
15     モンゴルヨーグル    25     22
13        かば焼き様    10     11

In [14]:
# 最適化で記述しやすいように、辞書にしておきます
snack = df.set_index('name').to_dict(orient='index')
snack

{'カンガルーのマーチ': {'kcal': 336, 'price': 84},
 'コートジボワールチョコ': {'kcal': 309, 'price': 96},
 'ガプリコ': {'kcal': 194, 'price': 102},
 'バッケス': {'kcal': 336, 'price': 198},
 'ハコダテポテト': {'kcal': 446, 'price': 120},
 'いもりこ': {'kcal': 299, 'price': 120},
 'かっぱかにせん': {'kcal': 486, 'price': 120},
 'フェネットグミ': {'kcal': 166, 'price': 100},
 'アルツート': {'kcal': 344, 'price': 102},
 'ハッピータン': {'kcal': 348, 'price': 98},
 '柿の素': {'kcal': 209, 'price': 280},
 'たべっ子アニマル': {'kcal': 330, 'price': 98},
 'あんドーナツ': {'kcal': 387, 'price': 108},
 'かば焼き様': {'kcal': 10, 'price': 11},
 'キャベツ次郎': {'kcal': 520, 'price': 110},
 'モンゴルヨーグル': {'kcal': 25, 'price': 22},
 'しんがりコーン': {'kcal': 409, 'price': 147}}

In [15]:
# お菓子の名前と属性を指定すれば値を参照できます
print(snack['いもりこ']['kcal'])
print(snack['いもりこ']['price'])

299
120

## 最適化モデルの作成
いよいよ最適化に入ります。データと予算を渡すと解いた結果を返してくれる関数にしましょう

In [ ]:
def optimize(snack, budget=500):

    # モデルのインスタンス化
    

    # 商品のリスト
    

    # 決定変数
    # お菓子iを入れるか否か
   

    # 制約条件
    # 入れるお菓子の価格の合計が予算を超えない
    

    # 目的関数
    # 入れるお菓子のカロリーの合計
    

    # 解く
    

    return 'hoge', 'hoge'

In [ ]:
# 関数を使ってみる
x, TotalCal = optimize(snack, 500)
TotalCal

## 結果の確認

In [ ]:
# どのお菓子を入れるのか、辞書にする
solution = {}
for i in snack.keys():
    solution[i] = x[i].value()

solution

In [ ]:
# 最初のデータフレームに追加する
df['buy'] = df['name'].map(solution)
df

In [ ]:
# コスパを出してみましょう
# 多分コスパ高いお菓子が入りやすくなっている　→　貪欲法の話
df['kcal_per_price'] = df.kcal / df.price
df.sort_values('kcal_per_price', ascending=False)